:root {
  --theme: #eb5939;
  --primary: #eb5939;
  --primary-hovered: #be3f22;
  --box-shadow-color: #f2f2f2;
  --bg-color: #333;
  --bg-color-body: #ffffff;
  --bg-color-hovered: #edededcf;
  --text-bold-color: #f4f1f1;
  --text-color: #ebebeb;
  --input-bg: #ffffff;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: At hauss;
}

*::-webkit-scrollbar {
  display: none;
}

body {
  overflow-x: hidden;
  background: #111;
  color: #fff;
}

@font-face {
  font-family: At hauss;
  src: url(./fonts/At-Hauss.otf);
}
