.member-section-item {
  position: absolute;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  background: #111;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-end;

  .member-section-item-name {
    width: 100%;
    display: flex;
    justify-content: center;
    font-size: 7vw;
    margin-bottom: 6vw;
    font-weight: 100;
    opacity: 0.7;
  }

  .member-section-item-bottom {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;

    .post,
    .description {
      font-size: 2vw;
      width: 20%;
      opacity: 0.7;
    }

    .image {
      aspect-ratio: 1 / 1;
      width: 35%;
      object-fit: cover;
    }
  }

  @media screen and (max-width: 768px) {
    justify-content: flex-start;

    .member-section-item-name {
      font-size: 12vw;
      margin-top: 20vw;
    }

    .member-section-item-bottom {
      width: 100%;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      padding-inline: 5vw;
      gap: 2vw;
      padding-top: 25vw;

      .post,
      .description {
        font-size: 8vw;
        width: 100%;
        opacity: 0.7;
      }

      .post {
        font-size: 4vw;
      }

      .image {
        width: 100%;
        position: absolute;
        bottom: 0;
        left: 0;
      }
    }
  }
}
